
body{
    padding: 0;
    margin: 0;
    background-image: url("sea1.jpg");
    /*-webkit-background-clip: text;*/
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
    backdrop-filter: blur(20px);
    font-family:arial,sans-serif;
}
h1{
    border-radius: 5px;
    padding:2px;
    text-align: center;
    background: linear-gradient(to right,#f32171,#ff6b09,#cf23cf,#f32171);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
    font-size: 60px;
}
.container {
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
.time {
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    background: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.text {
    font-size: 25px;
    background: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.button {
   margin-top: 50px;

}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-weight: 500;
    transition: 0.5s;
}

#start {
    background-color: blueviolet;
}

#start:hover {
    background-color:rgba(99, 158, 77, 0.83);
}

#stop {
    background-color: yellowgreen;
}
#stop:hover {
    background-color: rgb(12, 120, 187);
}
#reset {
    background-color:rgb(207, 10, 10);
    
}
#reset:hover {
    background-color: goldenrod;
}

/* Media Queiries */
@media screen and (max-width : 700px) {
    .time {
        font-size: 60px;
        color: #ffffff;
    }

    .text {
        font-size: 20px;
        color: #fffcd6;
    }

    .buttons {
        width: 90%;
        text-align: center;
        margin-top: 40px;
    }

    .btn {
        font-size: 18px;
        margin: 7px 10px;
        width: 75%;
    }

    .time-container {
        margin-top: -50px;
    }
}
